p{
    font-size: 20px;
}


.p-color{
color: red;
}

#p-first{
    font-size: 24px;
    font-weight: bold;
}   

img{
    width: 500px;
}

.container{
    display: flex;
    justify-content: right;
    align-items: center;

    border: 5px solid red;
    padding: 20px;
    margin: 20px;
}

#menu li{
    display: inline;
    padding: 30px;
}

#menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover {
     color: grey;
}

.p-30{
    padding: 30px;
}
